html {
  font-family: "Noto Serif", serif;
}

label {
  display: block;
}

form {
  background-color: #fff;
}

header,
footer {
  background-color: #70ad55;
  color: #fff;
}

fieldset {
  border: none;
}

input,
select,
textarea {
  border-color: #6e8c62;
}

.checkbox {
  border-color: #6e8c62;
}

.section-border {
  border: 1px solid #70ad55;
  opacity: .3;
}

.option {
  color: #70ad55;
}

.btn {
  background-color: #6e8c62;
  border: #6e8c62;
  padding: .75rem 2rem;
}

@media only screen and (min-width: 38em) {

  .padright {
    padding-right: .75rem;
  }

}
